.aside-menu-catalog{
    flex-shrink: 0;
    width: 280px;
    height: 600px;
    width: 280px;
    height: 600px;
    flex-shrink: 0;
    padding-bottom: 1000px;
    margin-left: 0px;
   }
   legend {
    font-size: 1rem;
}
   .filters{
   position: fixed;
   top: 100px;
   left: 0;
    width: 280px;
    height: 600px;
    background-color:#a3afba;
    padding-bottom: 1000px;
    margin-left: 0px;
    padding-left: 20px;
   }
   .filter-type-pet{
    display: flex;
    flex-direction: column;
   }
   .input-custom{
    width: 25px;
    height: 25px;
    border: 3px solid #3e77aa; ;
    margin-right: 10px;  
}

   .input-checkbox, .input-checkbox-second, .input-checkbox-cat{
    font-size: 14px;
    display: flex;
    margin-bottom: 5px;
}
.input-checkbox input, .input-checkbox-second input, .input-checkbox-cat input{
    display: none;
}

.input-checkbox input:checked + div{
    background: url(../img/home/dog.svg);
    background-size: contain;
  background-repeat: no-repeat;
}
.input-checkbox-cat input:checked + div{
    background: url(../img/home/cat.svg);
    background-size: contain;
  background-repeat: no-repeat;
}
.input-checkbox-second input:checked + div{
    background: url(../img/home/frog.svg);
    background-size: contain;
  background-repeat: no-repeat;
}

#reset-btn {
  
    width: 147px;
    height: 44px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  line-height: 28px;
    color: #fff;
    margin-top: 12px ;
    margin-left: 40px;
    border: none;
    border-radius: 5px;
    transition: background-image 0.5s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #484848;
  background-image: linear-gradient(to bottom, #4b4b4b, #2a2929);
  }
  #reset-btn:hover{
    background-image: linear-gradient(to bottom, #22A0E9, #3e77aa);
  }

  .filter-price-pet{
    width: 50%;
  }
  .filter-price-pet-parents{
    margin-left: -20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
  }
 
  .filter-price-pet-parents span{
    font-size: 18px;
    width: 10px;
  }
.filter-price-pet-7000{
  position: relative;
  left: -20px;
}
  /* модальное окно тут прилепил */
  #modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}
  #ModalContent{
    margin: 25vh 25vw;
    width: 50vw;
    height: 20vh;
    border-radius: 10px;
    background: #221f1f;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#ModalContent h3{
    font-size: 40px;
    color: #fff;
    margin: 0 auto;
}
#ModalContent button{
  width: 147px;
  height: 44px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
font-size: 16px;
line-height: 28px;
  color: #fff;
  margin-top: 12px ;
  border: none;
  border-radius: 5px;
  transition: background-image 0.5s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
background-image: linear-gradient(to bottom, #22A0E9, #3e77aa);
}
#ModalContent button:hover{
  background-image: linear-gradient(to bottom, #c87a04, #ea8d02);
}
