.loginregistr-class{
    width: 100vw;
    height: 1080px;
    position: relative;
}
.loginregistr-class::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fixed url(../img/contact/contact1.jpg) repeat;
    opacity: 0.1;
    z-index: -1;
}
.col-md-4{
    width: 100%;
    text-align: center;
}
