body{
    background-color: #f6f9ff;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    
    display: flex;
    align-items: center;
    position: relative;
}
.container a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
.container h1{
    width: 40%;
}
.container p{
    margin: 0;
    padding: 0;
}

.head-container img{
    width: 12%;
}
.head-container{
    width: 100%;
    background-color: #221f1f;
    position: fixed;
    top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

}
.main-container{
width: 100%;
padding-top: 150px;
display: flex;
  justify-content: center;
  position: relative;
    z-index: 1;
}
.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fixed url(../img/contact/contact1.jpg) repeat;
    opacity: 0.1;
    z-index: -1;
  }

.header-general{
    height: 100px;
    max-width: 1480px;
    background-color: #221f1f;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 10px;
position: relative;
}
.led-tronylsya{
    max-width: 1480px;
    
    display: flex;
    justify-content: space-evenly;
   
    padding: 0 10px;
    
}
.aside-menu{
    width: 300px;
    height: 660px;
    flex-shrink: 0;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;

}
.reviews-client{
    width: 290px;
    height: 210px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
}
.reviews-client img{
    width: 30%;
    border-radius: 50%;
}
.top-menu-slide-and{
    max-width: calc(100% - 400px);
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 1;
    
}
.procent-happy{
    width: 90%;
    height: 280px;
    background-image: url(../img/slider2/many2.jpg) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
    border-radius: 10px;
}
.procent-happy span{
    width: 150px;
    height: 150px;
    color: #1d79ca;
    font-size: 50px;
    font-weight: 700;
    line-height: 35px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
}

.slider-general {
    height: 400px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-shrink: 1 !important;
    border-radius: 10px;
    overflow: hidden;
}

.logoClient1{
    background: url(../img/slider2/four.jpg) center center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
}
.logoClient2{
    background: url(../img/slider2/dog.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logoClient3{
    background: url(../img/slider2/doctor.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logoClient4{
    background: url(../img/slider2/cat_dog.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logoClient5{
    background: url(../img/slider2/baby.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logoClient6{
    background: url(../img/slider2/eight.jpg)center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logoClient7{
    background: url(../img/slider2/one.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logoClient8{
    background: url(../img/slider2/seven.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logoClient9{
    background: url(../img/slider2/six.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logoClient10{
    background: url(../img/slider2/three.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logoClient11{
    background: url(../img/slider2/two.jpg) center center;
    background-size: cover;
    width: 200px;
    height: 400px;
}
.logoClient12{
    background: url(../img/slider2/many.jpg) center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.slider-general div{
    margin: 0 auto;
}

.free-friend, .dog-friend, .cat-friend, .news-friend, .news-blog-content{
    box-sizing: border-box;
    max-width: 1480px;
    height: 500px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    margin-top: 40px;
    
}
.main-home{
width: 100%;
position: relative;
}

.main-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: fixed url(../img/contact/contact1.jpg) repeat;
    opacity: 0.1;
    z-index: -1;
}

.news-blog-content{
    height: 800px;
    gap: 25px;
    display: flex;
    justify-content: space-evenly;
    
    
}
.news-blog-content .info-text{
    height: 220px;
    overflow: hidden;
}
.newshight-text{
    width: 280px;
    height: 90px;
    overflow: hidden;
}
.news-blog-content .grid-item{
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    transform-style: preserve-3d;
}

    .news-blog-content   .grid-item .image{
        width: 260px;
        overflow: hidden;
        border-radius: 10px;
    }
    .news-blog-content .grid-item img{
        width: 100%;
        border-radius: 10px;
        padding-top: 10px;
        overflow: hidden;}
    
.news-blog-content .atuin-button {
    width: 150px;
    height: 50px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-image 0.5s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  background-image: linear-gradient(to bottom, #22A0E9, #3e77aa);
  text-decoration: none;
}
.atuin-button:hover{
    background-image: linear-gradient(to bottom, #4b4b4b, #2a2929);
}
.news-blog-content .atuin-button a{
    text-decoration: none;
}

.content-free-friend, .content-dog-friend, .content-cat-friend, .content-news-friend, .content-news-blog-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
    padding: 0 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
.for-ff-card, .for-dog-card, .for-cat-card, .for-news-card, .for-news-blog-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.catalog-post-general{
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
gap: 20px;
align-items: flex-start;
justify-content: space-evenly;
    flex-shrink: 1;
    padding-bottom: 50px;

}
.slick-prev {
    font-size: 50px;
  }
  .slick-next {
    font-size: 50px;
  }


/* КНОПКИ СЛАЙДЕРА */
.slick-prev:before {
    font-size: 40px; /* Установить желаемый размер */
    color: #3e77aa; /* Установить желаемый цвет */
    left: 30px;
}
.slick-next:before {
    font-size: 40px; /* Установить желаемый размер */
    color: #3e77aa; /* Установить желаемый цвет */
}
.slick-prev {
    position: absolute;
    left: 30px; /* Установить желаемое значение */
    top: 50%; /* Установить желаемое значение для вертикального выравнивания */
    transform: translateY(-50%); /* Центрирует элемент по вертикали */
    z-index: 500;
  }
  .slick-next {
    position: absolute;
    right: 40px; /* Установить желаемое значение */
    top: 50%; /* Установить желаемое значение для вертикального выравнивания */
    transform: translateY(-50%); /* Центрирует элемент по вертикали */
    z-index: 500;
  }
  .menuBurgerUser{
    width: 60px;
    border: 6px solid #2ab4e2;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1.5s ease ;
  }
  .menuBurgerUser:hover{
    width: 80px;
  }

  .menuBurgerUser img{
width: 100%;
  }
  .container-user-burger{
    display: none;
    width: 200px;
    height: 300px;
    background-color: #f6f9ff;
    border: 1px solid #3e77aa;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4), -4px -4px 8px rgba(255, 255, 255, 0.4);
    position: absolute;
    right: 0px;
    top: 100px;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
  }
  .justify-content-end {
  flex-direction: column;
  }
 
  .burgermenu-nav-main{
width: 150px;
height: 50px;
  background-color: #fff3;
  background-image: url(../img/header/paw.svg);
  color: #fff;
  border: 3px solid #3e77aa;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1.5s ease ;
  }
  .burgermenu-nav-main:hover{
    background-color: #3e77aa;
    color: #fff3;
    width: 180px;
    height: 70px;
  }

  .burgermenu-nav-main p{
padding: 5px;
  }
  .burgermenu-nav-main span{
    width: 40%;
  }
.burgermenu-nav-main img{
    width: 100%;
    padding: 3px;
}


.navbar-change{
    display: none;
    width: 200px;
    height: 300px;
    position: absolute;
    left: -30px;
    top: 80px;
    background-color: #221f1f;
    border: 1px solid #3e77aa;
    transition: all 0.5s ease 0s;
  }
  .navbar-change ul{
    padding-left: 0;
    width: 100%;
 font-size: 19px;
 vertical-align: middle;
  }
  .navbar-change li{
    height: 21%;
    list-style-type: none;
    text-align: center;
    border-bottom: 0.5px solid #3e77aa;
padding-top: 12px;
transition: background-color 1s ease 0s; color: 0.5s ease 0s;
  }
  .navbar-change li:hover{
    color: #221f1f;
    background-color: #1d79ca;

  }
  .dropdown-menu{
background-color: #221f1f ;
  }
  .dropdown-menu li, .dropdown-menu a:hover{
    color: #221f1f;
    background-color: #3e77aa;
  }
.search-input{
    width: 50%;
    height: 40px;
    display: flex;
}
.search-input input{
    width: 70%;
}
.search-input button{
    background-color: #3e77aa;
    color: #fff;
    padding-bottom: 10px auto;
    font-size: 18px;
}
.text-center {
    background-color: #3e77aa !important;
}
.scrolling {
    position: fixed;
    right: 40px;
    bottom: 200px;
    border: 3px solid #221f1f;
    text-decoration: none;
    border-radius: 50%;
    font-size: 30px;
    color: #221f1f;
    background-color: #3e77aa;
    padding: 25px;
    display: none;
    opacity: 0.5;
    z-index: 2;
    transition: all 1s ease 0s;
}
.scrolling:hover{
    color: #FFFFFF;
    background-color: #221f1f;
    border: 3px solid #3e77aa;
}

